<div class="text-center mt-4">
  <h2>Your matches - {{pagination.totalCount}} found</h2>
</div>
<div class="container mt-4">
  <form class="form-inline" novalidate #filterForm="ngForm" (ngSubmit)="loadUser()">
    <div class="form-group mr-2">
      <label for="minAge">Age From: </label>
      <input id="minAge" name="minAge" type="number" class="form-control ml-1" style="width: 70px;"
        [(ngModel)]="userParams.minAge">      
    </div>
    <div class="form-group mr-2">
      <label for="maxAge">Age To: </label>
      <input id="maxAge" name="maxAge" type="number" class="form-control ml-1" style="width: 70px;"
      [(ngModel)]="userParams.maxAge">      
    </div>
    <div class="form-group">
      <label for="gender">Show: </label>
      <select name="gender" id="gender" class="form-control ml-1" style="width: 130px;"
        [(ngModel)]="userParams.gender">
        <option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}}</option>
      </select>     
    </div>
    <button type="submit" class="btn btn-primary ml-4">Apply Filter</button>
    <button type="button" class="btn btn-info ml-2" (click)="resetFilter()">Reset Filter</button>
    <div class="col">
      <div class="float-right btn-group">
        <label name="orderBy" class="btn btn-primary" tabindex="0" role="button"
          [(ngModel)]="userParams.orderBy" btnRadio="lastActive" (click)="loadUser()">Last Active</label>
        <label name="orderBy" class="btn btn-primary" tabindex="0" role="button"
          [(ngModel)]="userParams.orderBy" btnRadio="created" (click)="loadUser()">Newest Members</label>        
      </div>
    </div>
  </form>
  <div class="row mt-3">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <app-member-card [userFromMember]="user"></app-member-card>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
    [totalItems]="pagination.totalCount"
    [itemsPerPage]="pagination.pageSize"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pagedChange($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;" 
    firstText="&laquo;"
    lastText="&raquo;">
  </pagination>
</div>